@import "_header";


.wrapper {
	height: 100%;
	overflow: hidden;
	min-height: 100%;
	padding: 50px;
}
.container {

	display: flex;
	//justify-content: space-around; 	//center , end , start , space-between(пространство между флекс элементами), space-around(пространство справа и слева)
	align-items: center;						//stretch - по умолчанию, flex-start(прижмёт к верху контейнера флекс), flex-end, center, baseline
	//flex-wrap: wrap;						//если не остается пространства по горизонтали, флекс-элемент падает вниз под 1й и тд
	border: 20px solid #ff0000;
	margin: 0 0 20px 0;
 }

.block {
	border: 10px solid rgb(0, 0, 116);

	flex-grow: 0;    //1   
	flex-shrink: 1;  //2 
	flex-basis: 34%; //3 уст размер по умолчанию   

	flex: 0 1 34%; // быстрая запись

		&__element {
		
			padding: 50px;
			border: 10px solid rgb(16, 134, 47);
			
			&_1 {
				align-self: flex-start;
				order: 2;
				
			}

			&_2 {
				align-self: center;
				order: 3;
			}

			&_3 {
				align-self: flex-end;
				order: 1;
			}
		}

}
